<script lang="ts">
import { reactive } from 'vue';
import db from '../storage/LocalForage';
import User from '../dtos/User.dto';
import { useUserStore } from '../stores/UserStore';
import { ElMessage } from 'element-plus';
export default {
  name: 'ConnexionForm',
  setup() {
    const userStore = useUserStore();
    return { userStore };
  },
  data() {
    return {
      form: reactive({
        email: '',
        password: '',
      }),
    };
  },
  methods: {
    async onSubmit() {
      if (this.form.email === '' || this.form.password === '') {
        ElMessage.error('Veuillez remplir tous les champs');
        return;
      }
      const usersFromDb = await db.getItem<User[]>('Users');
      const userToConnect = usersFromDb.find(
        (user) =>
          user.email === this.form.email && user.password === this.form.password
      );
      if (userToConnect) {
        this.userStore.setUser(userToConnect);
        var synth = window.speechSynthesis;
        var welcomeText = new SpeechSynthesisUtterance(
          'Bienvenue sur MyNetWork ' + userToConnect.pseudo
        );
        synth.speak(welcomeText);
        this.$emit('connection');
      } else {
        ElMessage.error("Votre identifiant ou mot de passe n'existe pas");
      }
      console.log('submit!', this.form);
      db.setItem('test', 'test');
    },
  },
};
</script>

<template>
  <div style="width: 100vh; height: 100vh; padding-top: 25vh">
    <el-card class="box-card">
      <template #header>
        <div class="card-header">
          <span>Connexion</span>
        </div>
      </template>
      <el-form :model="form" label-width="120px">
        <el-form-item label="Email">
          <el-input v-model="form.email" />
        </el-form-item>
        <el-form-item label="Mot de Passe">
          <el-input v-model="form.password" type="password" show-password />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="onSubmit">Connexion</el-button>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>

<style scoped></style>
