<script lang="ts">
import { PropType } from '@vue/runtime-core';
import Article from '../dtos/Article.dto';
import { reactive } from 'vue';
import { ElMessage } from 'element-plus';
import User from '../dtos/User.dto';
import { uid } from 'uid';
import db from '../storage/LocalForage';
import { useUserStore } from '../stores/UserStore';
export default {
  name: 'CreateProfilForm',
  setup() {
    const userStore = useUserStore();
    return { userStore };
  },
  data() {
    return {
      form: reactive({
        pseudo: '',
        email: '',
        password: '',
        passwordVerif: '',
        url: '',
      }),
    };
  },
  methods: {
    async onSubmit() {
      console.log('submit!', this.form);
      if (
        this.form.pseudo !== '' &&
        this.form.email !== '' &&
        this.form.password !== '' &&
        this.form.password === this.form.passwordVerif
      ) {
        let newUser = new User(
          uid(),
          this.form.pseudo,
          this.form.email,
          this.form.password,
          this.form.url
        );
        const fetchUsers = await db.getItem<User[]>('Users');
        fetchUsers.push(newUser);
        const updatedfetchUsers = await db.setItem('Users', fetchUsers);
        this.userStore.setUser(newUser);
        var synth = window.speechSynthesis;
        var welcomeText = new SpeechSynthesisUtterance(
          'Bienvenue sur MyNetWork ' +
            newUser.pseudo +
            ' Merci de votre inscription'
        );
        synth.speak(welcomeText);
        this.$emit('connection');
      } else {
        ElMessage.error(
          'Veuillez remplir tous les champs obligatoire et vérifier votre mot de passe'
        );
      }
    },
  },
};
</script>

<template>
  <div style="width: 100vh; height: 100vh; padding-top: 25vh">
    <el-card class="box-card">
      <template #header>
        <div class="card-header">
          <span>Inscription</span>
        </div>
      </template>
      <el-form :model="form" label-width="120px">
        <el-form-item label="Pseudo*">
          <el-input v-model="form.pseudo" />
        </el-form-item>
        <el-form-item label="Email*">
          <el-input v-model="form.email" />
        </el-form-item>
        <el-form-item label="Mot de Passe*">
          <el-input v-model="form.password" type="password" show-password />
        </el-form-item>
        <el-form-item label="Confirmer Mot de Passe*">
          <el-input
            v-model="form.passwordVerif"
            type="password"
            show-password
          />
        </el-form-item>
        <el-form-item label="url de votre image">
          <el-input v-model="form.url" />
        </el-form-item>
        <small>* Champs obligatoire</small>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">Connexion</el-button>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>

<style scoped></style>
