<script lang="ts">
//todo fetch articles
// import type Article from '../dtos/Article.dto';
import Article from '../dtos/Article.dto';
import ArticleComponent from './Article.vue';
import ArticleForm from './ArticleForm.vue';
import { uid } from 'uid';
import { useUserStore } from '../stores/UserStore';
import db from '../storage/LocalForage';
export default {
  name: 'Feed',
  components: { ArticleComponent, ArticleForm },
  setup() {
    const userStore = useUserStore();
    return { userStore };
  },
  data() {
    return {
      articles: [],
    };
  },
  methods: {
    async like(id: string) {
      if (!this.userStore.isUserConnected) return;
      let articleToModify = (this.articles as Article[]).find(
        (article) => article.id === id
      );
      articleToModify.like++;
      const articlesClones = JSON.parse(JSON.stringify(this.articles));
      await db.setItem('Articles', articlesClones);
    },
    async save() {
      const articlesClones = JSON.parse(JSON.stringify(this.articles));
      await db.setItem('Articles', articlesClones);
    },
    async fetchArticles() {
      this.articles = await db.getItem('Articles');
    },
  },
  async mounted() {
    this.articles = await db.getItem('Articles');
  },
};
</script>

<template>
  <div>
    <div style="width: 100vh">
      <ArticleForm
        v-if="this.userStore.isUserConnected"
        style="margin-top: 20px"
        @refresh-articles="fetchArticles"
      />
      <ArticleComponent
        v-for="article in articles"
        :key="article.id"
        :article="article"
        @article-like="like"
        @add-comment="save"
      />
    </div>
  </div>
</template>
